
		</div>

		<footer class="clearfix">
			<p>2014 &copy {{ site.title }} | Theme designed by <a href="http://www.themeforest.net/user/uziiuzair">Uzair Hayat</a></p>

			<ul class="social">
				<li><a href="{{ site.github }}"><i class="fa fa-github"></i></a></li>
				<li><a href="{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
				<!--<li><a href="{{ site.youtube }}"><i class="fa fa-youtube-play"></i></a></li>-->
				<li><a href="{{ site.googleplus }}"><i class="fa fa-google-plus"></i></a></li>
			</ul>

		</footer>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{ site.trackingcode }}']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

	</body>
</html>