<div class="sidebar">
	<div class="side-sect">
		{% for p in site.pages %}
			{% if p.section == page.section and p.toc %}
				<h1><a href="{{p.url}}">{{p.title}}</a></h1>
				{% if p.links %}
					{% for link in p.links %}
						<li><a href="{{link[1]}}">{{link[0]}}</a></li>
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endfor %}
		<ul>
			{% for p in site.pages %}
				{% if p.section == page.section %}
					{% if p.toc %}
					{% else %}
						<li><a href="{{p.url}}">{{p.title}}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>