<!-- Logo -->
<aside id="logo" class="clearfix">
  <div class="clearfix">
    <a href="{{ root_url}}/">{{ site.title }}</a>
  </div>
</aside>

<ul id="menu">
{% if site.title %}
  <li class="title">
    <h1 id="title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  </li>
{% endif %}
{% if site.subtitle %}
  <li class="subtitle">
    <h2 id="subtitle">{{ site.subtitle }}</h2>
  </li>
{% endif %}
  <li>Products
    <ul class="submenu">
      <li class="link">
        <a href="/reload-2/">Re:load</a>
        {% if page.url contains "/reload-2/" %}
          <ul class="submenu">
            <li class="link"><a href="instructions.html">Instructions</a></li>
            <li class="link"><a href="https://www.tindie.com/products/arachnidlabs/reload-the-simple-robust-affordable-dummy-load/">Buy now</a></li>
          </ul>
        {% endif %}
      </li>
      <li class="link">
        <a href="/minimatrix/">Minimatrix</a>
        {% if page.url contains "/minimatrix/" %}
          <ul class="submenu">
            <li class="link"><a href="instructions.html">Assembly</a></li>
            <li class="link"><a href="manual.html">Usage</a></li>
            <li class="link"><a href="https://www.tindie.com/products/arachnidlabs/minimatrix/">Buy now</a></li>
          </ul>
        {% endif %}
      </li>
      <li class="link">
        <a href="/minishift/">Minishift</a>
        {% if page.url contains "/minishift/" %}
          <ul class="submenu">
            <li class="link"><a href="assembly.html">Assembly</a></li>
            <li class="link"><a href="usage.html">Usage</a></li>
            <li class="link"><a href="https://www.tindie.com/products/arachnidlabs/minishift/">Buy now</a></li>
          </ul>
        {% endif %}
      </li>
      <li class="link">
        <a href="/labs-cards/">Trading Cards</a>
        {% if page.url contains "/labs-cards/" %}
          <ul class="submenu">
            <li class="link"><a href="https://www.tindie.com/products/arachnidlabs/circuit-patterns-trading-cards-full-deck/">Buy now</a></li>
          </ul>
        {% endif %}
      </li>
      <li class="link">
        <a href="/loki/">Loki</a>
      </li>
    </ul>
  </li>
  <li class="link">
    <a href="/about/">about</a>
  </li>
{% if site.twitter_user %}
  <li class="link">
    <a href="http://twitter.com/{{ site.twitter_user }}/">twitter</a>
  </li>
{% endif %}
{% if site.googleplus_user %}
  <li class="link">
    <a href="https://plus.google.com/{{ site.googleplus_user }}/">google+</a>
  </li>
{% endif %}
{% if site.github_user and site.github_show_profile_link %}
  <li class="link">
    <a href="http://github.com/{{ site.github_user }}/">github</a>
  </li>
{% endif %}
  <li class="link rss">
    <a href="/atom.xml">rss feed</a>
  </li>
  <li>
  	<a href="https://tindie.com/stores/arachnidlabs/?ref=offsite_badges&utm_source=sellers_arachnidlabs&utm_medium=badges&utm_campaign=badge_medium"><img src="https://s3.amazonaws.com/tindie-static/badges/tindie-medium.png" style="width: 118px; height: 61px" alt="I sell on Tindie"></a>
  </li>
</ul>
<!-- Octopress Love -->
<aside id="octopress_linkback">
  <a href="http://octopress.org/">
    <span class="unicode_square">
      <span class="unicode_circle">
        &nbsp;
      </span>
    </span>
    <span class="octopress">Powered by Octopress</span>
  </a>
</aside>
