{% include header.html %}

<div class="page clearfix">

	<h1>Contact Us</h1>

	<form action="#" class="clearfix contactus" method="post" style="float: left;">
		
		<label>Name</label>
		<input type="text" name="name" class="input" placeholder="Your name here" />
		
		<label>E-Mail</label>
		<input type="email" name="name" class="input" placeholder="Your E-Mail here" />
		
		<label>Subject</label>
		<input type="text" name="name" class="input" placeholder="Your subject here" />

		<label>Message</label>
		<textarea class="textarea" placeholder="Your Message Here.."></textarea>

		<button>Send</button>

	</form>

	<div class="contactinfo clearfix">
		<p><i class="fa fa-user"></i> Uzair Hayat</p>
		<p><i class="fa fa-briefcase"></i> 00 Happy St.</p>
		<p><i class="fa fa-angle-right"></i> Manila</p>
		<p><i class="fa fa-angle-right"></i> 1100</p>
		<p><i class="fa fa-comments"></i> (00) 111 222 3333</p>
		<p><i class="fa fa-envelope"></i> support@domain.net</p>
	</div>
	
</div>

{% include footer.html %}