{% include header.html %}

<div id="posts-double" class="posts-double clearfix js-masonry" data-masonry-options='{ "itemSelector": ".mypost-double" }'>
	{% for post in site.posts limit: 10 %}

	<div onclick="window.location.href='{{ post.url }}'" class="mypost-double clearfix wow fadeInUp">
	   	<div class="date">
	   		{{ post.date | date: "<p class='date-top'>%-d</p><p class='bottom-date'>%b %Y</p>" }}
	   	</div>
	  	<div class="postcontent">
	    	{% if post.content contains '<!--more-->' %}
    			{{ post.content | split:'<!--more-->' | first }}
			{% else %}
    			{{ post.content }}
			{% endif %}
	    	<p class="readmore">
	      		<a href="{{ post.url }}">Read Post</a>
	    	</p>
	  	</div>

	</div>

	{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
	<div class="pagination">
		<div class="innerpagi clearfix">
		  	{% if paginator.previous_page %}
		    	<a class="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a>
		  	{% else %}
		    	<span class="previous off">&laquo; Previous</span>
		  	{% endif %}

		  	{% if paginator.next_page %}
		    	<a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
		  	{% else %}
		    	<span class="next off">Next &raquo;</span>
		  	{% endif %}
		</div>
	</div>
{% endif %}

<script>
    $(function(){
	    $('.posts-double').masonry({
        // options
            itemSelector : '.mypost-double',
            columnWidth : 540
        });
    });
    var $container = $('.posts-double');
    $container.imagesLoaded(function(){
        $container.masonry({
            itemSelector : '.mypost-double',
            columnWidth : 540
        });
    });
</script>

{% include footer.html %}