---
layout: page
---

<img src="{{ page.image }}" />
 
{{ content }}

<div id="discourse-comments"></div>

<script type="text/javascript">
  var discourseUrl = "http://discuss.arachnidlabs.com/",
      discourseEmbedUrl = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
